* {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: flex;
  max-width: 1000px;
  overflow: auto;
}
